/* COLORS */
:root {
  --off-black: #191414;
  --off-white: #F5FAF7;
  --green: #1DB954;
  --grey: #404040
}

/* FONTS */
h1 {
  font: 5rem Inter;
  color: var(--off-white);
}
h2 {
  font: bold 2.5rem Inter;
  color: var(--off-white);
}
h3 {
  font: 2rem Inter;
  color: var(--off-white);
}
h4 {
  font: bold 1.2rem Inter;
  color: var(--off-white);
  margin: 0;
}
p {
  font: 1.2rem Inter;
  color: var(--off-white);
  margin: 0;
}

/* REM */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media only screen and (min-width: 240px) {
  html {
    font-size: 8px;
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 960px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1240px) {
  html {
    font-size: 14px;
  }
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--off-black);
  padding: 12rem 12rem;
}

/* STATS */
.stats-container {
  display: flex;
  flex-direction: column;
}
.list-stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 25vw;
}
.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 6rem;
}
.genre {
  display: flex;
  align-items: center;
  background-color: var(--grey);
  height: 4rem;
  padding: 0 4rem;
  border-radius: 5rem;
}
.characteristics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 9rem;
  margin-bottom: 6rem;
}
.characteristic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.tracks-artists-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6rem;
}
.track-artist {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* MOVIES */
.movie-poster {
  height: 20rem;
  width: 100%;
}
.movie-recommendation-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 6rem;
}
.movie-recommendation{
  width: 100%;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: var(--off-black);
}

.LoginButton {
  padding: 2rem 4rem;
  border-radius: 30px;
  margin-top: 9rem;
  background-color: var(--green);
  color: var(--off-white);
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* hover effect */
  &:hover {
    background-color: #13943B;
  }
}